<% map $child.0 %> <% $num %> <%- /map -%>
<% map $child.1 %> <% $num %> <%- /map -%>
<% map $child.2 %> <% $num %> <%- /map -%>
<% map $child.3 %> <% $num %> <%- /map -%>
<% map $child.4 %> <% $num %> <%- /map +%>
 OK <%- nop -%>
